*{
    box-sizing: border-box;
}

.big-box{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block; /*serve para colocar lado a lado e não em baixo*/
    padding: 20px;
    margin: 20px;    
}